.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-github {
  text-align: center;
}

.pixel {
  width: 20px; /* Adjust the size of the pixels as needed */
  height: 20px; /* Adjust the size of the pixels as needed */
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
}

.row {
  display: flex;
}